<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bylfc</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/mine</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <display-name>LimitFilter</display-name>
    <filter-name>LimitFilter</filter-name>
    <filter-class>com.byland.bylfc.filter.LimitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LimitFilter</filter-name>
    <url-pattern>/homepage.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DelcommentsServlet</display-name>
    <servlet-name>DelcommentsServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.DelcommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelcommentsServlet</servlet-name>
    <url-pattern>/delcomments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletenoteServlet</display-name>
    <servlet-name>DeletenoteServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.DeletenoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletenoteServlet</servlet-name>
    <url-pattern>/deletenote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindServlet</display-name>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.FindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadwbServlet</display-name>
    <servlet-name>LoadwbServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.LoadwbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadwbServlet</servlet-name>
    <url-pattern>/loadweibo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoveServlet</display-name>
    <servlet-name>LoveServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.LoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoveServlet</servlet-name>
    <url-pattern>/love</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinglunnoteServlet</display-name>
    <servlet-name>PinglunnoteServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.PinglunnoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinglunnoteServlet</servlet-name>
    <url-pattern>/pinglunnote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeiboServlet</display-name>
    <servlet-name>WeiboServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.WeiboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeiboServlet</servlet-name>
    <url-pattern>/weibo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateinfoServlet</display-name>
    <servlet-name>UpdateinfoServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.UpdateinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateinfoServlet</servlet-name>
    <url-pattern>/updateinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleinfoServlet</display-name>
    <servlet-name>SingleinfoServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.SingleinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleinfoServlet</servlet-name>
    <url-pattern>/singleinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendmessageServlet</display-name>
    <servlet-name>SendmessageServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.SendmessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendmessageServlet</servlet-name>
    <url-pattern>/sendmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.byland.bylfc.filter.AppInitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>PinkmanServlet</display-name>
    <servlet-name>PinkmanServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.PinkmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinkmanServlet</servlet-name>
    <url-pattern>/pinkman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinkServlet</display-name>
    <servlet-name>PinkServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.PinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinkServlet</servlet-name>
    <url-pattern>/pink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TalkServlet</display-name>
    <servlet-name>TalkServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.TalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TalkServlet</servlet-name>
    <url-pattern>/talk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteServlet</display-name>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>com.byland.bylfc.web.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/note</url-pattern>
  </servlet-mapping>
</web-app>